#header {
    background-color: rgb(34 34 54 / 0.9);
    color: rgb(250 250 250 / 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

#header .logo {
    margin-block: 0.3rem;
    font-family: Exo, system-ui, Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#header .logo > .logo-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    gap: 0.05rem;
}

#header .logo > .logo-link > .logo-letter {
    vertical-align: middle;
}